<h1>コード一覧</h1>

<%= form_with(url: index_serch_songs_path, local:true) do |f| %>

    <div class="row form-group">
        <%= f.label :title, "title", class:"control-label col-sm-2" %>
        <div class="col-sm-10">
            <%= f.text_field :title, class: "form-control" %>
        </div>
         <%= f.label :artist, "artist", class:"control-label col-sm-2" %>
        <div class="col-sm-10">
            <%= f.text_field :artist, class: "form-control" %>
        </div>
        <%= f.label :genre, "genre", class:"control-label col-sm-2" %>
        <div class="col-sm-10">
            <%= f.select :genre, [[" ", ""],["Jpop","Jpop"],["Fpop","Fpop"],["Anime","Anime"],["Idol","Idol"],["ballad","ballad"],["Classic","Classic"],["Jazz","Jazz"]], class:"control-label col-sm-2" %>
        </div>     
        <%= f.label :key, "key", class:"control-label col-sm-2" %>
        <div class="col-sm-10">
            <%= f.text_field :key, class: "form-control" %>
        </div>      
    </div>
    <%= f.submit :検索 , class:"btn btn-success" %>
<% end %>
<%= form_tag import_songs_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "import" %>
<% end %>

<%= link_to 'データベースを全て削除する', destroy_path, method: :delete %>

<div>
  <table class="table table-bordered">
    <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Artist</th>
          <th>Genre</th>
          <th>Section</th>
          <th>Key</th>
          <th>Chord</th>
        </tr>
    </thead>
    <tbody>
          <% @songs.each do |song| %>
            <% song.chords.each do |chord| %>
              <tr>
                <td><%= song.id %></td>
                <td><%= song.title %></td>
                <td><%= song.artist %></td>
                <td><%= song.genre %></td>
                <td><%= chord.section_numbar %></td>
                <td><%= chord.key %></td>
                <td><%= chord.content %></td>
              </tr>
            <% end %>
          <% end %>
    </tbody> 
  </table>
</div>


