<h1><%= @title %><%=@artist%><%=@genre%><%= @key%><%=@section%> Chord Search</h1>

<% @next_root =  @next_targets_root_rate.sort_by { |_, v| v }.reverse.to_h %>
<% @back_root =  @back_targets_root_rate.sort_by { |_, v| v }.reverse.to_h %>
<% @next_ambi =  @next_targets_ambi_rate.sort_by { |_, v| v }.reverse.to_h %>
<% @back_ambi =  @back_targets_ambi_rate.sort_by { |_, v| v }.reverse.to_h %>

<div>
  <table class="table table-bordered">
    <h3><%= @chord_toSearch%> next root </h3>
    <thead>
      <tr>
        <th>#</th>
        <th>Chord Cymbol</th>
        <th>Rate(%)</th>
      </tr>
    </thead>  
    <tbody>
      <% n = 0%>
      <% @next_root.each do |h| %>
      <% n = n + 1%>
          <tr>
            <td><%= n %></td>
            <td><%= h[0] %></td>
            <td><%= h[1] %></td>
          </tr>
      <% end %>
    </tbody>
    
    
  <table class="table table-bordered">
    <h3><%= @chord_toSearch%> before root </h3>
    <thead>
      <tr>
        <th>#</th>
        <th>Chord Cymbol</th>
        <th>Rate(%)</th>
      </tr>
    </thead>  
    <tbody>
      <% n = 0%>
      <% @back_root.each do |h| %>
      <% n = n + 1%>
          <tr>
            <td><%= n %></td>
            <td><%= h[0] %></td>
            <td><%= h[1] %></td>
          </tr>
      <% end %>
    </tbody>
    
    <table class="table table-bordered">
    <h3><%= @chord_toSearch%> next triad </h3>
    <thead>
      <tr>
        <th>#</th>
        <th>Chord Cymbol</th>
        <th>Rate(%)</th>
      </tr>
    </thead>  
    <tbody>
      <% n = 0%>
      <% @next_ambi.each do |h| %>
       <% n = n + 1%>
          <tr>
            <td><%= n %></td>
            <td><%= h[0] %></td>
            <td><%= h[1] %></td>
          </tr>
      <% end %>
    </tbody>
    
    <table class="table table-bordered">
    <h3><%= @chord_toSearch%> before triad </h3>
    <thead>
      <tr>
        <th>#</th>
        <th>Chord Cymbol</th>
        <th>Rate(%)</th>
      </tr>
    </thead>  
    <tbody>
      <% n = 0%>
      <% @back_ambi.each do |h| %>
      <% n = n + 1%>
          <tr>
            <td><%= n %></td>
            <td><%= h[0] %></td>
            <td><%= h[1] %></td>
          </tr>
      <% end %>
    </tbody>
</div>