<%= form_with(model: @song, url: search_songs_path, local:true) do |f| %>
      <div class="col-sm-8 offset-sm-3">
        
        <legend>Chord Progression Trend</legend>
        <p>5つのカラムから範囲を選択して, コードシンボルの前後の進行率を計算します。</p>
        <p>make chord progressionを選択するとコード進行から検索が行えます。</p>
        <div class="row form-group">
          <div class="col-sm-2"><%= f.label :title, "Title", class:"control-label " %></div>
          <div class="col-sm-7"><%= f.text_field :title, class: "form-control" %></div>
        </div>
        
        <div class="row form-group">
          <div class="col-sm-2"><%= f.label :artist, "Artist", class:"control-label " %></div>
          <div class="col-sm-7"><%= f.text_field :artist, class: "form-control" %></div>
        </div>
        
        <div class="row form-group">
        <div class="col-sm-2"><%= f.label :genre, "Genre", class:"control-label " %></div>
        <div class="col-sm-7">
          <%= f.select :genre, [[" ", ""],["Jpop","Jpop"],["Fpop","Fpop"],["Anime","Anime"],["Idol","Idol"],["Enka","Enka"],["Classical","Classical"],["Jazz","Jazz"]], {} , class:"form-control " %></div>
        </div>
        
        <div class="row form-group">
        <div class="col-sm-2"><%= f.label :key, "Key", class:"control-label" %></div>
        <div class="col-sm-7">
          <%= f.select :key, [
                [" ", ""], ["m", "m"], ["C", "C"], ["Cm", "Cm"], ["C#", "C#"], ["C#m", "C#m"], ["D♭", "D♭"], ["D♭m", "D♭m"], ["D", "D"], ["Dm", "Dm"], ["D#", "D#"], ["D#m", "D#m"], ["E♭", "E♭"], ["E♭m", "E♭m"], ["E", "E"], ["Em", "Em"],
                ["E#", "E#"], ["E#m", "E#m"], ["F", "F"], ["Fm", "Fm"], ["F#", "F#"], ["F#m", "F#m"], ["G♭", "G♭"], ["G♭m", "G♭m"], ["G", "G"], ["Gm", "Gm"], ["G#", "G#"], ["G#m", "G#m"], ["A♭", "A♭"], ["A♭m", "A♭m"],
                ["A", "A"], ["Am", "Am"], ["A#", "A#"], ["A#m", "A#m"], ["B♭", "B♭"], ["B♭m", "B♭m"], ["B", "B"], ["Bm", "Bm"]], {} ,class: "form-control" %>
        </div>
        </div>
        
        <div class="row form-group">
        <div class="col-sm-2"><%= f.label :section_numbar, "Section", class:"control-label " %></div>
        <div class="col-sm-7">
        <%= f.select :section_numbar, [
                [" ", ""], ["Intro", "Intro"], ["A", "A"], ["B", "B"], ["C", "C"],["D", "D"],["S", "S"], ["Interlude", "Interlude"], ["Ending", "Ending"], ["Verse", "Verse"], ["Bridge", "Bridge"], ["Chorus", "Chorus"]
            ], {}, class: "form-control" %>
        </div>    
        </div> 
      </div>
    
    <div class="col-sm-8 offset-sm-3">
    <%= f.fields_for :chords do |fs| %>
       <%= fs.fields_for :fields do |fc| %>
            <div class="chordtab">
                  <%= render 'toppages/field_fields', f: fc %>
            </div>
            
        <% end %>
        
       <div class="links">
            <%= link_to_add_association 'make chord progression', fs, :fields %>
        </div>
    <% end %>
    </div>
    
    <div class="col-sm-6 offset-sm-3">
    <%= f.submit :Search , class: 'btn btn-primary btn-block' %>
    </div>
    
<% end %>

